html {
  font-size: 18px;
}

body {
  font-family: 'Overlock', cursive;
  background-image: url("../images/aurora-borealis-large.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Merienda One', cursive;
}

/* .technologies {
  background: #24624100;
} */

.head {
  width: 100vw;
  min-height: fit-content;
  position: relative;
  overflow: hidden;
}

.head-flex-container {
  align-items: stretch;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  margin: 0 3%;
  justify-content: flex-start;
  min-width: 300px;
}

.title {
  margin: 3% 5%;
  color: white;
}

h1.title {
  font-family: 'Courier New', Courier;
  font-size: 9vw;
  padding: 10px;
}

p.title {
  font-size: 5vw;
}

p.title p.intro {
  font-size: 300vw;
}

.profile-pic-container {
  padding: 00% 2% 10% 5%;
  min-width: 260px;
  max-width: 360px;
  display: inline-block;
  position: relative;
  flex-grow: 1;
}

.profile-pic-container img {
  width: 100%;
  border-radius: 50%;
}

.text-container {
  position: relative;
  border: solid;
  border-color: rgb(109, 109, 109);
  background: rgba(39, 37, 37, 0.664);
  border-radius: 15px;
  border-width: 2px;
  margin: 0 auto;
}

.text-container p {
  font-family: 'Courier New', Courier;
  font-size: 1.3rem;
  padding: 3%;
  color: rgb(201, 201, 201);
}

.project-container:hover {
  border-color: rgba(8, 182, 23, 0.788);
  border-width: 3px;
  box-shadow: 10px 5px rgba(121, 163, 4, 0.726), -10px 5px rgba(75, 124, 19, 0.664), 10px -5px rgba(62, 158, 33, 0.692), ;
}

.head-text-container {
  min-width: 300px;
  max-width: 500px;
  display: inline-block;
}

.centering-container {
  position: relative;
  width: 100%;
}

.flex-container {
  display: flex;
  flex: auto;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 5%;
}

.devicon-container {
  border: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 150px;
  min-height: 150px;
  background: #e4c2e4bd;
}

.devicon-container:hover {
  background: #e4c2e4f8;
}

#csharp-image {
  width: 120px;
  min-height: 120px;
  margin: 14% 3%
}

.devicon-style {
  border: 0;
  padding: 2px 2px 0px 2px;
  font-size: 8rem;
  text-align: center;
}

.devicon-label {
  border: 0;
  font-size: 1.8rem;
  margin: 0;
  padding: 0 0 2px 0;
  position: relative;
  text-align: center;
}

.images-to-devicon {
  padding: 18% 0;
  margin: 0;
  position: absolute;
  align-self: center;
  width: 80%;
}

#jasmine-image {
  padding: 4% 1% 0 1%;
  width: 120px;
  position: relative;
  align-self: center;
}

#chai-image {
  padding: 4% 1% 8% 1%;
  width: 102px;
  position: relative;
  align-self: center;
}

#redux-image {
  align-self: center;
  padding: 10%;
  width: 120px;
  position: relative;
}

#socketio-image {
  padding: 1% 1% 0 1%;
  width: 120px;
  position: relative;
  align-self: center;
  /* width: 80%; */
}

#socketio-text {
  padding: 10px 0;
}

.section-heading {
  display: flex;
  min-width: 200px;
  max-width: 60%;
  margin: 5px auto;
  text-align: center;
}

.section-heading h2,
.section-heading h3 {
  margin: 2% auto;
  text-align: center;
  display: block;
  color: rgb(201, 201, 201);
}

.section-heading h2 {
  font-size: 2rem;
}

a:link {
  text-decoration: none;
  color: #e4c2e4;
}

a:visited {
  text-decoration: none;
  color: #b14eb1;
}

a:hover {
  text-decoration: underline;
  color: #e4c2e4;
}

a:active {
  text-decoration: underline;
  color: #e4c2e4;
}

.devicon-postgresql-plain-wordmark {
  display: block;
  padding: 10% 0px;
}

.projects-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.project-container {
  min-width: 250px;
  max-width: 450px;
  margin: 5%;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
}

.projects-section img {
  width: 100%;
}

@media(max-width: 900px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 15px;
  }
  body {
    background-image: url("../images/aurora-bg-vertical.jpg");
  }
}